<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"> 

	{% if title %}
		<title>Pitcoin API - {{title}} </title>
	{% else %}
		<title>Pitcoin API</title>
	{% endif %}

	<script>
        window.onload = function () {
            var req = new XMLHttpRequest();          // Создание объекта для HTTP запроса.
			req.open('GET', "/chain/length", true);
           	req.onreadystatechange = function () {
                if (req.readyState == 4) { // если получен ответ
                    if (req.status == 201) { // и если статус код ответа 200
						var obj = JSON.parse(req.responseText);
						document.getElementById("bl_length").innerHTML = 'Blockchain length = ' + obj.chainlength;
					}}}
			req.send();  
            req1 = new XMLHttpRequest();          // Создание объекта для HTTP запроса.
			req1.open('GET', "/coinbase", true);
           	req1.onreadystatechange = function () {
                if (req1.readyState == 4) { // если получен ответ
                    if (req1.status == 201) { // и если статус код ответа 200
						var obj = JSON.parse(req1.responseText);
						document.getElementById("supply").innerHTML = 'Coinbase reward = ' + obj.reward;
					}}}
			req1.send();  

   			$(document).on('click', '.media-body', function () {
				x = this.getElementsByClassName('tohide')[0];
				if (x.style.display === 'none')
					$(this).find('.tohide').show();
				else
					$(this).find('.tohide').hide();
			});

            document.getElementById("btnGet").onclick = function () {
                var xhr = new XMLHttpRequest();          // Создание объекта для HTTP запроса.
				var val = document.getElementById("inp_string").value;
				var radio = $('input[name=select]:checked', '#RadioForm').val();
				var ur = '';
				switch (radio) {
					case '0': 
                		ur = "/block?block_height=" + val;
						break
					case '1': 
                		ur = "/chain?len=" + val;
						break
					case '2': 
                		ur = "/utxo";
						if (val.length > 0)
							ur += "?address=" + val
						break
					case '3': 
                		ur = "/balance?address=" + val;
						break
					case '4':
                		ur = "/transaction?id=" + val;
						break
					case '5':
                		ur = "/address?addr=" + val;
						break
				}
				document.getElementById("hash").innerHTML = '';
				document.getElementById("inp_string").value = '';

                xhr.open("GET", ur, true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4) { // если получен ответ
                        if (xhr.status == 201) { // и если статус код ответа 200
							var obj = xhr.responseText;
							document.getElementById("hash").innerHTML = obj;
                        }
						else {
							var obj = JSON.parse(xhr.responseText);
							document.getElementById("hash").innerHTML = obj.error;
						}
                    }
                }
				xhr.send();  
	            }
	        }    </script>


  </head>
  <body>
	  <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" style='background-color: lightblue;'>
        <div class="container">
			<h1> Pitcoin web API </h1>
	  	</div>
      </nav>
      </header>
	  	<div class="container" id='context'>
		  {% block content %}{% endblock %}
		</div>

	  <!-- Optional JavaScript -->
	  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
